body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #eddecc;
    margin: 0;
    display: grid;
    align-content: center;
    min-height: 100vh;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    color: black;
    text-align: center;
    max-width: 30em;
    margin: 0 auto;
}

ul {
    display: table;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

a{
    color:rgb(9, 80, 70);
}
